body {
    font-family: 'Kanit';
}

.body-light {
    background-color: #EBEBEB;
}

.body-dark {
    background-color:#222e3c;
}

.btn-label-secondary {
    color: #8592a3;
    border-color: transparent;
    background: #ebeef0;
}
.btn-label-secondary:hover {
    color: #fff;
    background-color: #788393;
    border-color: #788393;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(133, 146, 163, 0.4);
    transform: translateY(-1px);
}

.clickable {
    cursor: pointer;
    transition: transform .2s;
    border-radius: 10px;
}
.clickable:hover {
    transform: scale(1.03); 
}

.container-middle {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fixed-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.icon-circle-primary {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #DCEAF4;
    color: #2E5EDE;
    border-radius:50%;
    height:50px;
    width:50px;
}

.icon-circle-success {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #DAFFCE;
    color: #02BF4A;
    border-radius:50%;
    height:50px;
    width:50px;
}

.img-cover {
    width: 100%;
    background-position: center center;
	background-size: cover;
}

.table-nowrap th, .table-nowrap td {
    white-space: nowrap;
}

.width-460 {
    width: 460px;
}

.width-700 {
    width: 700px;
}